* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: lightskyblue;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  min-width: 30%;
  min-height: 30%;
  padding: 1em;
  box-shadow: 1em 1em rgba(0, 0, 0, 0.4);
  gap: 0.5em;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}

label,
.decimal-display__title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}

#bin-input {
  border: none;
  border-bottom: 2px solid black;
  background-color: lightgray;
  width: 70%;
}

button {
  font-size: 0.75em;
  border: 0px transparent;
  border-radius: 0.5em;
  background-color: lightskyblue;
  padding: 0.5em;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover,
button::selection {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  translate: -5% -3%;
}
